# Credenciales y Secretos
*.json
!client_secrets.json.example

# Archivos temporales de Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/

# Archivos de sistema
.DS_Store
Thumbs.db
